{% extends 'base.html.twig' %}

{% block title %}Заполнение XML{% endblock %}

{% block body %}

    <style>
        .field-group {
            margin-bottom: 10px;
        }
        .field-group input, .field-group select {
            margin-right: 10px;
        }
    </style>

    <body>
    <h1>Заполнение XML</h1>
    <form method="post" action="{{ path('generate_xml') }}">
        {% for field in fields %}
            <div class="field-group">
                <label>{{ field.name }} ({{ field.type }}):</label>
                {% set inputType = 'text' %}
                {% if field.type == 'xs:date' %}
                    {% set inputType = 'date' %}
                {% elseif field.type == 'xs:integer' %}
                    {% set inputType = 'number' %}
                {% elseif field.type == 'xs:string' %}
                    {% set inputType = 'text' %}
                {% endif %}
                <input type="{{ inputType }}" name="fields[{{ field.name }}][value]"
                        {% if field.minLength is not null %}
                            minlength="{{ field.minLength }}"
                        {% endif %}
                        {% if field.maxLength is not null %}
                            maxlength="{{ field.maxLength }}"
                        {% endif %}
                        {% if field.pattern is not null %}
                            pattern="{{ field.pattern }}"
                        {% endif %}
                       required>
                <input type="hidden" name="fields[{{ field.name }}][name]" value="{{ field.name }}">
                <input type="hidden" name="fields[{{ field.name }}][type]" value="{{ field.type }}">
                <input type="text" name="fields[{{ field.name }}][description]" placeholder="Описание">
            </div>
        {% endfor %}
        <button type="submit">Отправить</button>
    </form>
    </body>
{% endblock %}