{% extends 'base.html.twig' %}

{% block title %}Заполнение XML{% endblock %}

{% block body %}
    <body>
    <div class="container">
        <h1>Заполнение XML</h1>
        <form method="post" action="{{ path('generate_xml') }}">
            {% for complexTypeName, complexTypeFields in fields %}
                <h2>{{ complexTypeName }}</h2>
                {% for field in complexTypeFields %}
                    {% if field.type == 'enum' %}
                        <div class="field-group">
                            <label>{{ field.name }}:</label>
                            <select name="fields[{{ field.name }}][value]">
                                {% for optionValue, optionLabel in field.options %}
                                    <option value="{{ optionValue }}">{{ optionLabel }}</option>
                                {% endfor %}
                            </select>
                            <input type="text" name="fields[{{ field.name }}][description]" placeholder="Описание">
                        </div>
                    {% else %}
                        <div class="field-group">
                            <label>{{ field.name }}:</label>
                            {% if field.htmlType == 'select' %}
                                <select name="fields[{{ field.name }}][value]">
                                    {% for optionValue, optionLabel in field.options %}
                                        <option value="{{ optionValue }}">{{ optionLabel }}</option>
                                    {% endfor %}
                                </select>
                            {% elseif field.htmlType == 'checkbox' %}
                                <input type="checkbox" name="fields[{{ field.name }}][value]" value="1">
                            {% elseif field.htmlType in ['date', 'datetime-local', 'time'] %}
                                <input type="{{ field.htmlType }}" name="fields[{{ field.name }}][value]" {% if field.htmlType == 'date' %} value="{{ 'now'|date('Y-m-d') }}" {% endif %} required>
                            {% else %}
                                <input type="text" name="fields[{{ field.name }}][value]" required>
                            {% endif %}
                            <input type="text" name="fields[{{ field.name }}][description]" placeholder="Описание">
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <button type="submit">Отправить</button>
        </form>
    </div>
    </body>
{% endblock %}
